[core]
    autocrlf = false
[fetch]
    prune = true
[alias]
    co = checkout
    br = branch
    st = status
    ignore = update-index --skip-worktree
    unignore = update-index --no-skip-worktree
    ignored = !git ls-files -v | grep ^S
    ls = log --oneline --graph
    lsa = ls --all
    l20 = lsa -20

